/* Global Styling so Footer stays at bottom relative to content*/

html, body {
   height: 100%;
}

#body {
   display: flex;
   flex-direction: column;
}

#content {
   flex: 1 0 auto;
}

/* Header Styling */

#top {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #FFF;
   z-index: 99;
}

#banner {
   display: flex;
   justify-content: space-around;
   margin-top: 1em;
   margin-bottom: 1em;
   font-size: x-large;
}

.bannerSelector {
   text-decoration: none;
   color: rgb(12, 108, 187);
   font-weight: 500;
}

/* Home Page Styling */

#homePage {
   display: flex;
   margin: 7em 0em 0em 0em;
   padding: 0;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: rgb(12, 108, 187);
}

.image-blurred-edge {
   background-image: url(./media/Summer2019.jpg);
   width: 372px;
   height: 485px;
   border-radius: 5em;
   box-shadow: 0 0 8px 8px white inset;
   margin-right: 4em;
}

#homeName {
   margin-left: 3em;
   font-size: 2em;
   font-weight: 700;
}

#homePageQuote {
   margin-left: 3em;
   font-size: 1.5em;
   font-weight: 500;
}

/* About page styling */

#aboutPage {
   margin: 2em 1em 1em 1em;
   padding: 2em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: rgb(12, 108, 187);
}

#aboutContent {
   padding-left: 9em;
   padding-right: 9em;
   font-size: 1.2em;
   font-weight: 500;
}



/* Projects page styling */

#projectsPage {
   margin: 2em 1em 1em 1em;
   padding: 1em;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   color: rgb(12, 108, 187);
}

.projectLabel {
   margin-bottom: 1em;
   text-align: center;
   font-size: 1.5em;
   font-weight: 500;
}

label {
   margin: 4em;
}

#herokuWork {
   flex-direction: row;
  
}

#githubWork {
   flex-direction: column;
   align-items: center;
}

/* Hobby page styling */

#hobbyPage {
   margin: 2em 1em 1em 1em;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: rgb(12, 108, 187);
}

.hobbyLabel {
   margin-bottom: 1em;
   text-align: center;
   font-size: 1.5em;
   font-weight: 500;
}

/* Work page styling */

#workPage {
   margin: 2em 1em 1em 1em;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: rgb(12, 108, 187);
}

.workLabel {
   margin-bottom: 2em;
   text-align: center;
   font-size: 1.2em;
   font-weight: 500;
}

/* modal styling */

#main {
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
}

#modal {
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   z-index: 3000;
   position: absolute;
   top: 0em;
   background-color: rgba(0, 0, 0, .8);
   justify-items: left;
   align-items: center;
   margin: 0em;
   padding: 0em;
}

/* Footer Styling */

#bottom {
   flex-shrink: 0;
   width: 100%;
   background-color: #FFF;
   z-index: 99;
}

#footer {
   display: flex;
   justify-content: space-around;
   margin-top: 1em;
   margin-bottom: 1em;
   font-size: x-large;
}

.footerSelector {
   text-decoration: none;
   color: rgb(12, 108, 187);
   font-weight: 500;
}